# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit
.streamlit/

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# Data
data/raw/
data/cache/

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/